body { font-family: Courier, sans-serif; }

h2 { text-align: center; }

nav.left { width:20%; float:left; }

#content { width:75%; float:left; margin-left:2.5%; border-top:30px; border-bottom:30px; }
#content h4 { text-align: right; }

div.clear { clear:both; }

.post { border:1px inset black; margin:1em; padding:0.5em; }
.post.full { border-style:none; }
.post h3 { float:left; } /* title */
.post .date { float:right; } /* date */
.post .preview { clear:both; }
.post.closed .preview { display:none; }
.post .body { clear:both; }
.post .related { }
.post .more, .post .hide { margin:0.5em; padding:0.25em; cursor:pointer; }
.post .more { float:right; }
.post .hide { border:1px dashed black; float:left; }

#footer { margin:0 50px; clear:both; }

#commits { }
