body { font-family: Courier, sans-serif; }

h2 { text-align: center; }

nav.left { width:20%; float:left; }

#content { width:75%; float:left; margin-left:2.5%; border-top:30px; border-bottom:30px; }
#content h4 { text-align: right; }
#content p { }

#footer { margin:0 50px; clear:both; }

#commits { }
