---
layout: default
---

<div class="blog list">
    <h1>Filed Under <small>#{{ page.category }}</small></h1>

    {% for post in site.categories[page.category] %}
      <h3> <a href="{{ post.id }}">{{ post.title }}</a></h3>
      <p class="date">{{ post.date | date: "%d %B  %Y"}}</p>
      <br />
      <div class="preview clear">
        {{ post.excerpt }}
      </div>
      <div class="clear">
        <p class="more"><a href="{{ post.id }}">...Read full post</a></p>
      </div>
    {% endfor %}
</div>
