<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="screen, print" href="/css/blog.css" />
<link rel="stylesheet" type="text/css" media="screen, print" href="/css/pygments.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
</head>
<body>

<!-- Thanks for visiting! -->

<div class="grid">

<nav class="col sidebar">
 <h3>Nathan's Stuff:</h3>

  <ul class="topList">
   <li><a href="/index">News</a></li>
   <li><a href="/aboutme">About me</a></li>
   <li><a href="/contracting">Hire me</li>
  </ul>

  <h3>Projects:</h3>

  <ul class="topList">
   <li class="section">Current</li>
   <li class="projects">
     <ul>
       <li><a href="https://github.com/otterandrye"/>Otter & Rye</a></li>
       <li><a href="https://k12boston.sciencefor2020.org/">K12 Outreach Boston</a> volunteer site</li>
       <li><a href="https://github.com/gnmerritt/etf-balancer">Retirement account balancing</a></li>
     </ul>
   </li>

   <li class="section">Past</li>
   <li class="projects">
     <ul>
       <li><a href="/hydro/">Hydroponic Herb Gardening</a></li>
       <li><a href="https://github.com/gnmerritt/casino">Casino - AI Poker Battleground</a></li>
       <li><a href="https://github.com/gnmerritt/autodraft">Fantasy Football drafting API</a></li>
       <li><a href="/fantasy">Real time fantasy football value analysis</a></li>
       <li><a href="https://github.com/gnmerritt/poker">TheAiGames Hold'em Competition</a></li>
       <li><a href="https://github.com/gnmerritt/robotgame.org">robotgame</a></li>
       <li>Two Fourteen Software (domain lapsed)</li>
       <li><a href="http://freetimeapp.com">Free Time</a></li>
       <li><a href="/cs280/">multiTRACE machine vision</a></li>
       <li><a href="http://robocup.bowdoin.edu/blog/">Northern Bites Robocup</a></li>
     </ul>
   </li>
  </ul>
</nav>

<div id="content" class="col main">

{{ content }}

</div>

</div> <!-- .grid -->

<script type="text/javascript" src="/js/blog.js" />
<script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
</script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//ab.gnmerritt.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
