<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="screen, print" href="css/blog.css">
</head>
<body>

<header>

</header>

<nav>

<div id="left-nav">

 <h3>Nathan's Stuff:</h3>

 <ul>
   <li><a href="/">News</a></li>
   <li><a href="/projects/">Written works</a></li>
   <li><a href="/aboutme.shtml">About me</a></li>
   <li>Current Projects<br>
     <ul>
       <li><a href="/cs280/">multiTRACE vision</a></li>
     </ul>
   </li>

   <li>Past Projects<br>
     <ul>
       <li><a href="http://twofourteen.com">Android Development</a></li>
       <li><a href="http://freetimeapp.com">Free Time</a></li>
       <li><a href="http://robocup.bowdoin.edu/blog/">Northern Bites Robocup</a></li>
     </ul>
   </li>
 </ul>

</div>

<script>var GithubPush = {num_old:5,nodes:['gnmerritt/multiTrace-features']}</script>
<div id='commits'></div>

</nav>

{{ content }}

<footer> </footer>

<script src='http://gitlive.com/githublive.min.js'></script>
<script type="text/javascript" src="js/blog.js" />
</body>
</html>
