<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="screen, print" href="/css/blog.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="/css/pygments.css">
</head>
<body>

<div class="grid">

<nav class="col sidebar">
 <h3>Nathan's Stuff:</h3>

  <ul class="toplist">
   <li><a href="index.html">News</a></li>
<!--  <li><a href="/projects/">Written works</a></li> -->

   <li><a href="aboutme.html">About me</a></li>
  </ul>

  <h3>Projects:</h3>
  <ul class="toplist">
   <li class="section">Current</li>
   <li class="projects">
     <ul>
       <li><a href="http://github.com/gnmerritt/pokeher">TheAiGames Poker Competition</a></li>
       <li><a href="http://twofourteen.com">Two Fourteen Software</a></li>
       <li><a href="http://freetimeapp.com">Free Time</a></li>
     </ul>
   </li>

   <li class="section">Past</li>
   <li class="projects">
     <ul>
       <li><a href="/cs280/">multiTRACE vision</a></li>
       <li><a href="http://robocup.bowdoin.edu/blog/">Northern Bites Robocup</a></li>
     </ul>
   </li>
  </ul>

  <h3>Activity:</h3>

  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/gnmerritt" data-widget-id="302537346220429312">Tweets by @gnmerritt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</nav>

<div id="content" class="col main">

{{ content }}

</div>

</div> <!-- .grid -->

<script type="text/javascript" src="/js/blog.js" />
<script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
</script>

</body>
</html>
