---
layout: default
---

<article class="post full p-4">
  <h3 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
  <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>

  <div class="tags clear">
      {% assign sortedCategories = page.categories | sort %}
      Filed under:
      {% for category in sortedCategories %}
          <span class="tag">
              <a href="/category/{{ category }}">#{{ category }}</a>
          </span>
      {% endfor %}
  </div>
  <hr/>

  <div class="body">
    {{ content }}
  </div>

  <div class="body comments">
    <h3>Comments</h3>
    <br>
    <script src="https://utteranc.es/client.js"
        repo="gnmerritt/gnmerritt.net"
        issue-term="url"
        crossorigin="anonymous"
        async>
    </script>
  </div>
</article>
